# Highest Grossing Movies Exercise - Solutions

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [Highest Holywood Grossing Movies Dataset](https://www.kaggle.com/sanjeetsinghnaik/top-1000-highest-grossing-movies) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**Import pandas as pd.**

In [1]:
import pandas as pd

**Read Highest Holywood Grossing Movies.csv as a dataframe called movies.**

In [2]:
movies = pd.read_csv('Highest Holywood Grossing Movies.csv', index_col = 'Unnamed: 0',)

**Check the head of the DataFrame.**

In [3]:

movies

,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,"December 16, 2015",936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,"December 16, 2009",760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,NaN
4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2 hr 29 min,NaN
...,...,...,...,...,...,...,...,...,...,...
913,The Notebook (2004),A poor yet passionate young man falls in love ...,New Line Cinema,"June 25, 2004",81001787,36813370,117815157,"['Drama', 'Romance']",2 hr 3 min,PG-13
914,Jimmy Neutron: Boy Genius (2001),An eight-year-old boy genius and his friends m...,Paramount Pictures,"December 21, 2001",80936232,22056304,102992536,"['Action', 'Adventure', 'Animation', 'Comedy',...",1 hr 22 min,NaN
915,Eat Pray Love (2010),A married woman realizes how unhappy her marri...,Sony Pictures Entertainment (SPE),"August 13, 2010",80574010,124020006,204594016,"['Biography', 'Drama', 'Romance']",2 hr 13 min,PG-13
916,The Texas Chainsaw Massacre (2003),After picking up a traumatized young hitchhike...,New Line Cinema,"October 17, 2003",80571655,26792250,107363905,"['Crime', 'Horror']",1 hr 38 min,R
917,Zookeeper (2011),A group of zoo animals decide to break their c...,Sony Pictures Entertainment (SPE),"July 6, 2011",80360843,89491916,169852759,"['Comedy', 'Family', 'Fantasy', 'Romance']",1 hr 42 min,PG

**How many rows and columns are there?**

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 918 entries, 0 to 917
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Title                       918 non-null    object
 1   Movie Info                  918 non-null    object
 2   Distributor                 918 non-null    object
 3   Release Date                800 non-null    object
 4   Domestic Sales (in $)       918 non-null    int64
 5   International Sales (in $)  918 non-null    int64
 6   World Sales (in $)          918 non-null    int64
 7   Genre                       918 non-null    object
 8   Movie Runtime               918 non-null    object
 9   License                     744 non-null    object
dtypes: int64(3), object(7)
memory usage: 78.9+ KB

**Use the .describe() method to get some statistics for the numeric columns of the data**

In [5]:
movies[['Domestic Sales (in $)','International Sales (in $)','World Sales (in $)']].describe()

       Domestic Sales (in $)  International Sales (in $)  World Sales (in $)
count           9.180000e+02                9.180000e+02        9.180000e+02
mean            1.677469e+08                2.301434e+08        3.968668e+08
std             1.040360e+08                2.176011e+08        3.082629e+08
min             8.036084e+07                2.600000e+02        8.160000e+07
25%             1.016071e+08                8.845620e+07        2.005564e+08
50%             1.321351e+08                1.638819e+08        3.019416e+08
75%             1.913905e+08                2.885577e+08        4.750718e+08
max             9.366622e+08                2.086739e+09        2.847246e+09

,Unnamed: 0,Domestic Sales (in $),International Sales (in $),World Sales (in $)
count,918.000000,9.180000e+02,9.180000e+02,9.180000e+02
mean,458.500000,1.677469e+08,2.301434e+08,3.968668e+08
std,265.148072,1.040360e+08,2.176011e+08,3.082629e+08
min,0.000000,8.036084e+07,2.600000e+02,8.160000e+07
25%,229.250000,1.016071e+08,8.845620e+07,2.005564e+08
50%,458.500000,1.321351e+08,1.638819e+08,3.019416e+08
75%,687.750000,1.913905e+08,2.885577e+08,4.750718e+08
max,917.000000,9.366622e+08,2.086739e+09,2.847246e+09

In [6]:
movies[['Title','Movie Info','Distributor','Release Date','Genre','Movie Runtime','License']].describe(include= [object])

,Title,Movie Info,Distributor,Release Date,Genre,Movie Runtime,License
count,918,918,918,800,918,918,744
unique,918,918,34,740,309,101,4
top,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Warner Bros.,"November 20, 1998","['Action', 'Adventure', 'Sci-Fi']",1 hr 55 min,PG-13
freq,1,1,158,3,56,24,363

,Title,Movie Info,Distributor,Release Date,Genre,Movie Runtime,License
count,918,918,918,800,918,918,744
unique,918,918,34,740,309,101,4
top,Wedding Crashers (2005),"T'Challa, heir to the hidden but advanced king...",Warner Bros.,"March 20, 2014","['Action', 'Adventure', 'Sci-Fi']",1 hr 55 min,PG-13
freq,1,1,158,3,56,24,363

**Replace null values of License with most repeated License**

In [7]:
movies['License'].fillna(f"{movies['License'].mode()}", inplace = True)#movies['License'].mode()

In [8]:
movies

,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,"December 16, 2015",936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,"December 16, 2009",760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,"0 PG-13\nName: License, dtype: object"
4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2 hr 29 min,"0 PG-13\nName: License, dtype: object"
...,...,...,...,...,...,...,...,...,...,...
913,The Notebook (2004),A poor yet passionate young man falls in love ...,New Line Cinema,"June 25, 2004",81001787,36813370,117815157,"['Drama', 'Romance']",2 hr 3 min,PG-13
914,Jimmy Neutron: Boy Genius (2001),An eight-year-old boy genius and his friends m...,Paramount Pictures,"December 21, 2001",80936232,22056304,102992536,"['Action', 'Adventure', 'Animation', 'Comedy',...",1 hr 22 min,"0 PG-13\nName: License, dtype: object"
915,Eat Pray Love (2010),A married woman realizes how unhappy her marri...,Sony Pictures Entertainment (SPE),"August 13, 2010",80574010,124020006,204594016,"['Biography', 'Drama', 'Romance']",2 hr 13 min,PG-13
916,The Texas Chainsaw Massacre (2003),After picking up a traumatized young hitchhike...,New Line Cinema,"October 17, 2003",80571655,26792250,107363905,"['Crime', 'Horror']",1 hr 38 min,R
917,Zookeeper (2011),A group of zoo animals decide to break their c...,Sony Pictures Entertainment (SPE),"July 6, 2011",80360843,89491916,169852759,"['Comedy', 'Family', 'Fantasy', 'Romance']",1 hr 42 min,PG

**Drop films with missing Release Date**

In [9]:
movies.drop(movies[movies['Release Date'].isnull()].index,inplace= True)

**Check if there is any missing values or not**

In [12]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 0 to 917
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Title                       800 non-null    object
 1   Movie Info                  800 non-null    object
 2   Distributor                 800 non-null    object
 3   Release Date                800 non-null    object
 4   Domestic Sales (in $)       800 non-null    int64
 5   International Sales (in $)  800 non-null    int64
 6   World Sales (in $)          800 non-null    int64
 7   Genre                       800 non-null    object
 8   Movie Runtime               800 non-null    object
 9   License                     800 non-null    object
dtypes: int64(3), object(7)
memory usage: 68.8+ KB

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 0 to 917
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  800 non-null    int64
 1   Title                       800 non-null    object
 2   Movie Info                  800 non-null    object
 3   Distributor                 800 non-null    object
 4   Release Date                800 non-null    object
 5   Domestic Sales (in $)       800 non-null    int64
 6   International Sales (in $)  800 non-null    int64
 7   World Sales (in $)          800 non-null    int64
 8   Genre                       800 non-null    object
 9   Movie Runtime               800 non-null    object
 10  License                     800 non-null    object
dtypes: int64(4), object(7)
memory usage: 75.0+ KB

**what are the average International Sales?**

In [13]:
movies['International Sales (in $)'].mean()

231525192.4425

231525192.4425

**what are the highest and lowest World Sales?**

In [14]:
movies['World Sales (in $)'].max()

2847246203

2847246203

In [15]:
movies['World Sales (in $)'].min()

82604699

82604699

**How many films have been distributed by 'DreamWorks'?**

In [20]:
movies[movies['Distributor'] == 'DreamWorks' ]['Distributor'].count()

19

19

**What are the top 5 common distributer?**
**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) )**

In [23]:
movies.groupby('Distributor')['Distributor'].value_counts().sort_values(ascending = False).head().to_frame()

                                                                         Distributor
Distributor                         Distributor
Warner Bros.                        Warner Bros.                                 131
Walt Disney Studios Motion Pictures Walt Disney Studios Motion Pictures          116
Universal Pictures                  Universal Pictures                           114
Twentieth Century Fox               Twentieth Century Fox                        107
Sony Pictures Entertainment (SPE)   Sony Pictures Entertainment (SPE)             97

Warner Bros.                           131
Walt Disney Studios Motion Pictures    116
Universal Pictures                     114
Twentieth Century Fox                  107
Sony Pictures Entertainment (SPE)       97
Name: Distributor, dtype: int64

**How many films have licence 'PG-13' and disributed by 'Universal Pictures'**

In [30]:
# movies['Distributor'].unique()
movies[(movies['License'] == 'PG-13') & (movies['Distributor'] == 'Universal Pictures')]['License'].count()

57

64

**How many films released in 2017?**

In [45]:
movies.head()
movies['Release Date'] = pd.to_datetime(movies['Release Date'])

movies[movies['Release Date'].dt.year == 2017]['Title'].count()

32

32

**How many movies have 'Action' and 'Adventure' Genre?** 
**(Hint: Check out [eval()](https://www.w3schools.com/python/ref_func_eval.asp) )**

In [63]:

movies[movies['Genre'].str.contains('Adventure') & movies['Genre'].str.contains('Action')]['Genre'].count()

222

222

**What is the  film title with Longest runtime?**

In [64]:
movies.head()

,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,2015-12-16,936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,2019-04-24,858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,2009-12-16,760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
6,Titanic (1997),A seventeen-year-old aristocrat falls in love ...,Paramount Pictures,1997-12-19,659363944,1542283320,2201647264,"['Drama', 'Romance']",3 hr 14 min,PG-13
7,Jurassic World (2015),"A new theme park, built on the original site o...",Universal Pictures,2015-06-10,652385625,1018130819,1670516444,"['Action', 'Adventure', 'Sci-Fi']",2 hr 4 min,PG-13

In [65]:
def split_runtime(runtime,typ):
    lst=runtime.split(' ')
    if typ=='hr':
        return int(lst[0])
    elif (typ=='min') and (len(lst)>2):
        return int(lst[2])
    else:
        return 0

In [66]:
movies['hours']=movies['Movie Runtime'].apply(lambda x : split_runtime(x,'hr'))

In [67]:
movies['minutes']=movies['Movie Runtime'].apply(lambda x : split_runtime(x,'min'))

In [68]:
movies.head()

,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License,hours,minutes
0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,2015-12-16,936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13,2,18
1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,2019-04-24,858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13,3,1
2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,2009-12-16,760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13,2,42
6,Titanic (1997),A seventeen-year-old aristocrat falls in love ...,Paramount Pictures,1997-12-19,659363944,1542283320,2201647264,"['Drama', 'Romance']",3 hr 14 min,PG-13,3,14
7,Jurassic World (2015),"A new theme park, built on the original site o...",Universal Pictures,2015-06-10,652385625,1018130819,1670516444,"['Action', 'Adventure', 'Sci-Fi']",2 hr 4 min,PG-13,2,4

In [84]:
s= movies[(movies['hours'] == movies['hours'].max()) ]
s[s['minutes'] == s['minutes'].max()]

,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License,hours,minutes
45,The Lord of the Rings: The Return of the King ...,Gandalf and Aragorn lead the World of Men agai...,New Line Cinema,2003-12-17,377845905,768185007,1146030912,"['Action', 'Adventure', 'Drama', 'Fantasy']",3 hr 21 min,PG-13,3,21

45    The Lord of the Rings: The Return of the King ...
Name: Title, dtype: object

**What is the  film title with Shortest runtime?**

In [85]:
s= movies[(movies['hours'] == movies['hours'].min()) ]
s[s['minutes'] == s['minutes'].min()]

,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License,hours,minutes
737,Inspector Gadget (1999),A security guard's dreams come true when he is...,Walt Disney Studios Motion Pictures,1999-07-23,97403112,37000000,134403112,"['Action', 'Adventure', 'Comedy', 'Crime', 'Fa...",1 hr 18 min,PG,1,18
809,The Emperor's New Groove (2000),Emperor Kuzco is turned into a llama by his ex...,Walt Disney Studios Motion Pictures,2000-12-15,89636687,80025000,169661687,"['Adventure', 'Animation', 'Comedy', 'Family',...",1 hr 18 min,"0 PG-13\nName: License, dtype: object",1,18

737            Inspector Gadget (1999)
809    The Emperor's New Groove (2000)
Name: Title, dtype: object

# Great Job!