In [1]:
#importings

import numpy as np
import pandas as pd
import seaborn as sns

# Questions

- Profit = cash - taxes (0.14)
- Analyize all sales profit
- What is the profit for each weekday
- What is the profit from each city

In [2]:
#read the Sales.csv dataset 
df = pd.read_csv('Sales.csv')

## 1. Distniguesh features

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25117 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          25037 non-null  object
 1   Product           25037 non-null  object
 2   Quantity Ordered  25037 non-null  object
 3   Price Each        25117 non-null  object
 4   Order Date        25037 non-null  object
 5   Purchase Address  25037 non-null  object
dtypes: object(6)
memory usage: 1.1+ MB

In [7]:
df.duplicated().sum()

166

In [8]:
df.drop_duplicates(inplace=True)

In [10]:
df.reset_index(drop = True,inplace=True)

In [14]:
df['Quantity Ordered'].unique()

array([ 1.,  2.,  4.,  3., nan,  7.,  5.,  6.])

In [13]:
df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'],errors='coerce')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24951 entries, 0 to 24950
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          24950 non-null  object
 1   Product           24950 non-null  object
 2   Quantity Ordered  24949 non-null  float64
 3   Price Each        24951 non-null  object
 4   Order Date        24950 non-null  object
 5   Purchase Address  24950 non-null  object
dtypes: float64(1), object(5)
memory usage: 1.1+ MB

In [17]:
df['Price Each'].unique()

array(['1700$', '600.0$', '11.95$', '149.99$', '3.84$', '99.99$', '2.99$',
       '999.99$', '14.95$', '600$', '11.99$', '150$', '400$', '700$',
       '109.99$', '379.99$', '300$', '389.99$', 'Price Each$', 'nan$'],
      dtype=object)

In [19]:
def price_each(row):
    try:
        return float(row[:-1])
    except:
        return np.nan
df['Price Each'] =df['Price Each'].apply(price_each)

In [26]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1.0,1700.00,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1.0,600.00,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1.0,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1.0,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1.0,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
24946,319666,Lightning Charging Cable,1.0,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
24947,319667,AA Batteries (4-pack),2.0,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
24948,319668,Vareebadd Phone,1.0,400.00,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
24949,319669,Wired Headphones,1.0,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001"
24950,319670,Bose SoundSport Headphones,1.0,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"

In [27]:
df['Order Date'] = pd.to_datetime(df['Order Date'],errors='coerce')

In [30]:
def get_city(address):
    try:
        return address.split(',')[1].strip()
    except:
        return np.nan
df['Purchase Address'] =df['Purchase Address'].apply(get_city)

In [38]:
df.drop(254,inplace=True)

In [39]:
df.reset_index(drop=True,inplace = True)

In [40]:
df[df['Product'] == 'Product']

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address]
Index: []

## 2. Data cleaning

**Problems**

- Numerical
    - Quantity Ordered is not numerical
    - Price Each not numerical
- Categorical
    - Product columns has 'Product' value

In [1]:
#find unique values in quantity

In [2]:
#write a function to fix the quantity and apply it on the quantity column

In [3]:
#check the dataframe again

In [4]:
#check unqiues values in Price

In [5]:
#write a function to fix the price and apply it to the Price column

In [6]:
#check now the data types

In [8]:
#find unique values in Product

In [9]:
#fix them, if you think there's something that doesn't make sense

# Handle Duplicated values

In [10]:
#check if there are duplicates in the dataset

In [11]:
#drop duplicates

In [12]:
#DO NOT FORGET TO RESET THE INDEX

# Missing Values

In [13]:
#check missing values

In [14]:
#check percentage of missing values

In [15]:
#deal with them in a suitable way ( drop/ replace )

In [16]:
#recheck them again

# Handle Outliers

In [ ]:
!pip install datasist

In [ ]:
from datasist.structdata import detect_outliers

In [17]:
#predict outliers in the data and deal with them in a suitable way

# Feature Engineering

### Calculate the *Profit*
Rule: Profit = cash - taxes (0.14)

In [19]:
#write a function to calculate the profit  according to the above rule

In [20]:
#create a new column in the dataframe by applying the function to it

In [21]:
#write a function to extract the city from the address

In [23]:
#visualize the distribution of the created profit column

In [21]:
#change the order Date column to datetime

In [22]:
#extract the day name from the order Date column

In [ ]:
#explore the profit for each country
#i.e. group by city and return the profit of each city

In [ ]:
#draw boxplot of each city with respect to the profit

In [24]:
#find the first 6 cities with highest profit

In [25]:
#visualize  the first 6 cities with higest profit

In [26]:
#explore the profit for each weekday
#i.e. group by weekday and return the profit of each weekday

In [27]:
#draw boxplot of each weekday with respect to the profit

In [ ]:
#sort the weekday with respect to the profit

In [ ]:
#visualize sort the weekday with respect to the profit