# Outlines 
#### 1. Data cleaning 
#### 2. feature engineering 
#### 3. Getting more insights 
#### 4. Data Pre-processing
      - Splitting  
      - fearure transformation 
#### 5. modeling 
#### 6. evalution

In [1]:
# Importings
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

import seaborn as sns
from datasist.structdata import detect_outliers
from category_encoders import OneHotEncoder, BinaryEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [2]:
#read data
df = pd.read_csv('train.csv')

# 1. Data cleaning

### 1.1 Investegation

#### Notes 
- Numerical values mixed with text in (Mileage, Engine, Power) columns. 
    - in Milage column we have 2 units (kmpl & km/kg)
- Most of New_Price Column is null values (so, we have 2 solution.) 
    - remove it or scrap some data to fill it. 
- Null values values in other columns 
- Seats columns have some values with Zero !! 
- duplicated rows founded 
- Power column have values "null bhp"

###  1.2 Working with data issues

> Dropping duplicated columns

> Drop "New_Price" column because most of them is null

> Why did I choose to remove Null values and not to replace it ? 
- That's simply because this columns need to be fixed and we cannot calculate any value before we fix it. 
- another solution is to make a place holder and replace it after fixing data, (Your desicion id depende on the time)

- (KMPL) is refered to Kilometers Per Litre
- (km/kg) is refered to kilometers Per kilogram
> 1 liter  = 1 kilogram 
- Reference : https://en.wikipedia.org/wiki/Litre

#### values health checking

___________________________________

# 2. Feature Engineering

In [ ]:
# Check Name column uniques

>  "Name" feature has no affect that's because it has so many unique values 
- So let's make it useful and impactful

> We can notice that the first word of the name is (Brand), so let's get it

- A huge difference here, From this columns we can make a big affect.

> Another observation that first two word can express wich car we want. 
- So, let's change name column with just first 2 words.

- That's great, Now we can make an affect with name column.

________________________

________________________

# 3. Data understanding

### 3.1 Univariate analysis

# Remove Outliers to check data distribution

### 3.2 Univariate analysis

- year
- kilometers 
- transmission 
- brand

## Data summery : 
    - Numerical columns follow the gussian distribution, but have Outliers 
    (My desicion is not to remove it,because it will ne useful)
    - The countrt with the most sales spread is `Mumbai` and the least is `Ahmedabad`
    - Most of cars is form 2010 and 2015

________________________

# 4. Data pre-processing

### 4.1 Data splitting

> Why I have started with splliting data  ?
- That's to avoid data leakage problem.

### 4.2 Data transformation

#### 4.2.1 Numerical transformation

#### 4.2.1 Catogerical transformation

##### 4.2.1.1 ordinal transformation

> The best case of owner type is (First), Of course the worst is Fourth & Above

##### 4.2.1.2 Nominal transformation

# 5.0 Modeling

### 5.1 Linear regression (OLS method)